<ion-content>
  <div class="wrapper">
    <h1 class="heading-1">Login</h1>

    <div class="list-wrapper">
      <form [formGroup]="loginForm">
        <ion-list>
          <ion-item>
            <!-- Email input -->
            <ion-input
              formControlName="email"
              type="Email"
              placeholder="Email ID"
            ></ion-input>
            </ion-item>
            <ion-item>
              <!-- Email validation errror-->
            <div *ngFor="let error of errorMessages.email">
              <ng-container
                *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-item>

          <ion-item>
            <!-- Password input-->
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Password"
            ></ion-input>
            </ion-item>
            <ion-item>
              <!-- Password validation error -->
            <div *ngFor="let error of errorMessages.password">
              <ng-container
                *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          </ion-item>
        </ion-list>
      </form>

      <div padding>
        <ion-button
          color="primary"
          expand="full"
          [disabled]="!loginForm.valid"
          type="submit"
          (click)="submit()"
          >Login</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
