<ion-content [fullscreen]="true">

  <div class="wrapper">
    <h1 class="heading-1">Login</h1>
  
  <div class="list-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-input">
    <ion-list>
      <!-- Email input -->
      <ion-item>
        <ion-input formControlName="email" type="Email" placeholder="Email ID"></ion-input>
      </ion-item>
      <!-- Email validation error message -->
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <!-- Password input-->
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <!-- Password validation  error message -->
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-list>
  </form>

  <ion-button expand="block" (click)="loginUser()" [disabled]="!loginForm.valid">Login</ion-button>

</div>
</div>

</ion-content>