<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="title">
    <h1>
      Welcome <br />
      <span>Mangoleap!</span>
    </h1>
    <!-- log out -->
    <ion-button (click)="logout()">
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>

  <div id="content">
    <!-- Title Bar -->
    <div class="heading">
      <h2>Restaurants</h2>
      <ion-button (click)="presentAlertPrompt()">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label>Add Restaurant</ion-label>
      </ion-button>
    </div>

    <div class="restaurants">
      <ion-list>
        <!-- Restaurant Item -->
        <ion-item button *ngFor="let restaurant of restaurants" (click)="restaurantClicked(restaurant)">
          <div>
            <h4>{{restaurant.name}}</h4>
            <p>{{restaurant.description}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>